<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% from 'macros.html' import load_header, load_footer %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/tennis_ball.png" type="image/png">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {{ load_header(user) }}
            <div style="margin-top: 120px;"></div>

            <div class="container my-5" id="tournament-list">
                <h2 class="text-center mb-4">All Tournaments</h2>

                <div class="row">
                    {% for tournament in tournaments %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="../static/images/tournament.jpg" class="card-img-top" alt="Tournament Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ tournament.title }}</h5>
                                <p class="card-text">
                                    <strong>Format:</strong> {{ tournament.format }}<br>
                                    <strong>Match Format:</strong> {{ tournament.match_format }}<br>
                                    <strong>Prize:</strong> ${{ tournament.prize }}
                                </p>
                                <a href="/tournaments/{{ tournament.id }}" class="btn btn-primary">View Tournament</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="footer-div">
            {{ load_footer() }}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
